<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%=username%></span></p>
<div class="page-data">
	<form method="POST" action="/cars/edit/<%=data[0].id%>">
		<table cellpadding="11">
			<tr>
				<td class="label">Marka</td>
				<td>
					<input type="text" name="marka" required value="<%=data[0].marka%>" />
				</td>
			</tr>
			<tr>
				<td class="label">Model</td>
				<td>
					<textarea name="model" required cols="30" rows="5">
<%=data[0].model%></textarea
					>
				</td>
			</tr>
			<tr>
				<td class="label">Rocznik</td>
				<td>
					<input type="number" name="rocznik" required value="<%=data[0].rocznik%>" />
				</td>
			</tr>
			<tr>
				<td class="label">Cena</td>
				<td>
					<input type="number" name="cena" required value="<%=data[0].cena%>" />
				</td>
			</tr>
			<tr>
				<td class="label"></td>
				<td>
					<button type="submit">Zapisz</button>
					<button type="button" onclick="cancelAdd()">Anuluj</button>
				</td>
			</tr>
		</table>
	</form>
</div>

<%- include ../layouts/footer.ejs %>
