<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%=username%></span></p>
<div class="page-data">
	<div class="data-table">
		<table>
			<tr>
				<th width="50px">Nr.</th>
				<th>Marka</th>
				<th>Model</th>
				<th>Rocznik</th>
				<th>Cena</th>
			</tr>
			<% if(data.length){ for(var i = 0; i< data.length; i++){ %>
			<tr>
				<td><%=(i+1)%></td>
				<td><%=data[i].marka%></td>
				<td><%=data[i].model%></td>
				<td><%=data[i].rocznik%></td>
				<td><%=data[i].cena%></td>
			</tr>
			<% } } else { %>
			<tr>
				<td colspan="6">Brak samochodow</td>
			</tr>
			<%} %>
		</table>
	</div>
</div>

<%- include ../layouts/footer.ejs %>
