<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%=username%></span></p>
<div class="page-data">
	<div class="data-btn">
		<button onclick="addUser()">Dodaj</button>
		<button onclick="logout()">Wyloguj</button>
	</div>
	<div class="data-table">
		<table>
			<tr>
				<th width="50px">Nr.</th>
				<th>Marka</th>
				<th>Model</th>
				<th>Rocznik</th>
				<th>Cena</th>
				<th width="120px">Akcja</th>
			</tr>
			<% if(data.length){ for(var i = 0; i< data.length; i++){ %>
			<tr>
				<td><%=(i+1)%></td>
				<td><%=data[i].marka%></td>
				<td><%=data[i].model%></td>
				<td><%=data[i].rocznik%></td>
				<td><%=data[i].cena%></td>
				<td>
					<a class="a-inside edit" href="../cars/edit/<%=data[i].id%>"
						>Edycja</a
					>
					<a class="a-inside delete" href="../cars/delete/<%=data[i].id%>"
						>Usuń</a
					>
				</td>
			</tr>
			<% } } else { %>
			<tr>
				<td colspan="6">Brak samochodow</td>
			</tr>
			<%} %>
		</table>
	</div>
</div>

<%- include ../layouts/footer.ejs %>
